html {
  background-color: #03a9f4;
}

main {
  text-align: center;
  min-height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

img.duckHeader {
  max-height: 200px;
  margin: auto;
  border: none;
}

div.card .card-header {
  padding: 0
}

div.card.inputFeedCard {
  background-color: whitesmoke;
  color: black;
  width: 98vw;
  max-width: 960px;
}

input.landingInput[type='number'] {
  max-width: 60px;
}

input.landingInput, select.landingInput {
  display: inline-block;
  margin: 0 10px;
}

div.autocompleteParent {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

input.autocompleteInput {
  width: 60%
}
