html {
  background-color: #03a9f4;
}

main {
  text-align: center;
  min-height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

img.duckHeader {
  max-height: 200px;
  margin: auto;
  border: none;
}

div.card .card-header {
  padding: 0
}

div.card.inputFeedCard {
  margin: auto;
  background-color: whitesmoke;
  color: black;
  width: 95vw;
  max-width: 960px;
}

.form-group p:first-of-type {
  padding-top: 1em;
}

input.landingInput[type='number'] {
  max-width: 60px;
}

input.landingInput, select.landingInput {
  display: inline-block;
  margin: 2px 10px;
}

div.autocompleteParent {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

div.autocompleteDropdownContainer {
  position: absolute;
  width: 60%;
  right: 14.5%;
  z-index: 20;
}

input.autocompleteInput {
  width: 60%
}

.checkboxGroup.form-group {
  border: none;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

/* Dashboard */
main.dashboard * {
  /* Just to switch it up a bit */
  font-family: "Helvetica",sans-serif;
}

main.dashboard table thead tr th {
  text-align: center;
}
